apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ useraccount }}
  name: {{ useraccount }}
  namespace: {{ useraccount }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ useraccount }}
  type: ClusterIP
status:
  loadBalancer: {}
