apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ useraccount }}
  namespace: {{ useraccount }}
  labels:
    app: {{ useraccount }}
spec:
  selector:
    matchLabels:
      app: {{ useraccount }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ useraccount }}
    spec:
      initContainers:
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R www-data:www-data /var/www/html"]
        volumeMounts:
        - name: wordpress-persistent-storage
          mountPath: /var/www/html
      containers:
      - image: wordpress
        name: {{ useraccount }}
        env:
        - name: WORDPRESS_DB_HOST
          value: docker.lala-1992.xyz
        - name: WORDPRESS_DB_USER
          value: {{ useraccount }}
        - name: WORDPRESS_DB_PASSWORD
          value: {{ useraccount }}
        - name: WORDPRESS_DB_NAME
          value: {{ useraccount }} 
        ports:
        - containerPort: 80
          name: wordpress
        volumeMounts:
        - name: wordpress-persistent-storage
          mountPath: /var/www/html
        - name: apache-config
          mountPath: /etc/apache2/conf.d
      volumes:
      - name: wordpress-persistent-storage
        emptyDir: {}  # Adjust this based on your storage requirements
      - name: apache-config
        configMap:
          name: apache-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ useraccount }}
  namespace: {{ useraccount }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi  # Adjust this based on your storage requirements

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: apache-config
  namespace: {{ useraccount }}
data:
  httpd.conf: |
    ServerName "{{ domainname }}"
